h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizelegibility;
}

h1 {
 font-size: rem($h1);
 line-height: rem($h1-line-height);
}

h2 {
 font-size: rem($h2);
 line-height: rem($h2-line-height);
}

h3 {
 font-size: rem($h3);
 line-height: rem($h3-line-height);
}

h4 {
 font-size: rem($h4);
 line-height: rem($h4-line-height);
}

h5 {
 font-size: rem($h5);
 line-height: rem($h5-line-height);
}

h6 {
 font-size: rem($h6);
 line-height: rem($h6-line-height);
}

p {
  font-size: rem($text-size);
  line-height: rem($text-line-height);
  padding: 0 0 spacing();
  color: black;
  margin: 0;
}

small {
  font-size: rem($misc-size);
  line-height: rem($misc-line-height);
}

strong, b {
  font-weight: $bold-weight;
}

em, i {
  font-style: italic;
}

a {
  color: $brand;

  @include hover {
    color: $brand-light;
  }
}

pre {
  margin: 0px;
  white-space: pre-wrap;
  font-family: $code;
}

code {
  font-family: $code;
  padding: rem(2px) rem(4px);
  background: $alt-background;
}

ul,
ol {
  margin: 0 0 spacing();

  li {
    margin: 0 0 spacing(.5);

    &:last-child {
      margin: 0;
    }
  }
}

// @TODO move to better spots
.heading {
  margin-bottom: spacing();
}

.small {
  font-size: rem($misc-size);
  line-height: $misc-line-height;
}

.highlight {
  background: $highlight;
}

.notice {
  @include fixed;
  align-items: center;
  background: $alt-background;
  border-bottom: 1px solid $border;
  display: flex;
  justify-content: space-between;
  padding: spacing(.5) spacing();

  &[aria-hidden] {
    display: none;
  }

  p {
    font-size: rem($misc-size);
    line-height: rem($misc-line-height);
    padding: 0;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: rem($h1);
    font-weight: $bold-weight;
    line-height: rem($h1);
    padding: spacing();
    position: relative;

    i {
      @include sr-only;
    }

    &::before,
    &::after {
      background: black;
      content: "";
      display: block;
      height: 4px;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 20px;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    @include hover {
      &::before,
      &::after {
        background: $text;
      }
    }
  }
}
